* {
      padding: 0 ;
      margin: 0 ;
      box-sizing: border-box ;
  }

.table-box { 
              width: 500px ;
              height: 500px ;
              margin: 50px auto ;
           }

.table {
          width: 100% ;
          height: 100% ;
          border-collapse: collapse ;
       }

.table td {
            border: solid black 5px ;
            width: 33.3% ;
            height: 33.3% ;
          }

.play-btn {
             width:100% ;
             height:100% ;
             outline: none ;
             border: none ;
             background-color: #ffffff ;
             margin: auto ;
          }

.play-btn:hover {
                    background-color: lightseagreen ;
                }

.play-btn p {
               font-family: Arial, Helvetica, sans-serif ;
               font-weight: bold ;
               font-size: 45px ;
            }

.turn-box {
            display: flex ;
            justify-content: center ;
            align-items: center ;
            width: 500px ;
            height: 100px ;
            background-color: #ffffff ;
            margin: 100px auto ;
            border-radius: 8px ;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }

.turn-box p {
               font-family: Arial, Helvetica, sans-serif ;
               font-size: 35px ;
            }
