* {
      padding: 0 ;
      margin: 0 ;
      box-sizing: border-box ;
  }

.table-box { 
              width: 500px ;
              height: 500px ;
              margin: 50px auto ;
           }

.table {
          width: 100% ;
          height: 100% ;
          border-collapse: collapse ;
       }

.table td {
            border: solid black 3px ;
            width: 33.3%;
          }

.play-btn {
             width:100% ;
             height:100% ;
             outline: none ;
             border: none ;
             background-color: #ffffff ;
             margin: auto ;
          }

.play-btn:hover {
                    background-color: lightseagreen ;
                }

